html {
	font-size: 62.5%;			// default browser font size is 16px. 16 * 0.625 = 10px
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

h1 {
	font-size: 1rem;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: 600;
	color: darken(#a1b2c3, 30%);
}
